<header>
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                              <a href="#"><img src="../../assets/img/cliente/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>                                                
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a href="#" [routerLink]="['/chome']">Home</a></li>
                                        <li><a href="#" [routerLink]="['/catagorias']">Catagorias</a></li>
                                        <li><a href="#" [routerLink]="['/todos-produtos']">Produtos</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="#" [routerLink]="['/loginC']">Login</a></li>
                                                <li><a href="#" [routerLink]="['/carrinho']">Carrinho</a></li>
                                                <li><a href="#" [routerLink]="['/confirmacao']">Confirmação</a></li>
                                                <li><a href="#" [routerLink]="['/checkout']">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" [routerLink]="['/about']">About</a></li>
                                        <li><a href="#" [routerLink]="['/contato']">Contato</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> 
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search products">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                 </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="#" [routerLink]="['/carrinho']"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
                               <li class="d-none d-lg-block"> <a href="#" class="btn header-btn">Sign in</a></li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>

<main>
    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_tittle">
                        <h3>Credibly innovate granular
                        internal or organic sources
                        whereas standards.</h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="feature_part_content">
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_1.svg" alt="#">
                        <h4>Credit Card Support</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_2.svg" alt="#">
                        <h4>Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_3.svg" alt="#">
                        <h4>Free Delivery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="assets/img/icon/feature_icon_4.svg" alt="#">
                        <h4>Product with Gift</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature part end -->
    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Get promotions & updates!</h2>
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->
</main>
<footer>

   <!-- Footer Start-->
   <div class="footer-area footer-padding">
       <div class="container">
           <div class="row d-flex justify-content-between">
               <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                  <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
                         <!-- logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../assets/img/cliente/logo/logo2_footer.png" alt=""></a>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                           </div>
                        </div>
                    </div>
                  </div>
               </div>
               <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                   <div class="single-footer-caption mb-50">
                       <div class="footer-tittle">
                           <h4>Quick Links</h4>
                           <ul>
                               <li><a href="#">About</a></li>
                               <li><a href="#"> Offers & Discounts</a></li>
                               <li><a href="#"> Get Coupon</a></li>
                               <li><a href="#">  Contact Us</a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                   <div class="single-footer-caption mb-50">
                       <div class="footer-tittle">
                           <h4>New Products</h4>
                           <ul>
                               <li><a href="#">Woman Cloth</a></li>
                               <li><a href="#">Fashion Accessories</a></li>
                               <li><a href="#"> Man Accessories</a></li>
                               <li><a href="#"> Rubber made Toys</a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                   <div class="single-footer-caption mb-50">
                       <div class="footer-tittle">
                           <h4>Support</h4>
                           <ul>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Report a Payment Issue</a></li>
                        </ul>
                       </div>
                   </div>
               </div>
           </div>
           <!-- Footer bottom -->
           <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="footer-copy-right">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                   </div>
            </div>
             <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="footer-copy-right f-right">
                    <!-- social -->
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fas fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>
       </div>
   </div>
   <!-- Footer End-->